.Detalle-adm{
	width: 100%;
  	max-width: 800px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Detalle-adm h1{
	
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	display: block;


}

.Detalle-adm label{
	
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}




.Detalle-adm input[type="submit"]{

	border: none;
	outline: none;
    width: 180px;
	height: 40px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;


}



.Detalle-adm a:link, a:visited {
    background-color: #660d0770;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    margin-top: 15px;
  }
  
  a:hover, a:active {
    background-color: rgb(92, 6, 6);
  }

  #Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}



