.detalle-box{
	width: 800px;
	height: 600px;
	background: rgba(0, 0, 0, 0.411);
	color: #fff;
	margin-left: 50%;
	margin-top: 320px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}



.detalle-box {
	
	
    
}



#BtnVerChat{
    
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	outline: none;
	width: 80px;
	height: 30px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;


}

#BtnVerMedia{
    
	border: none;
	outline: none;
	margin-bottom: 20px;
	width: 90px;
	height: 30px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;


}

#BtnCancelar{
	border: none;
	outline: none;
	margin-bottom: 20px;
	width: 150px;
	height: 30px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;

}

.detalle-box a {

	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #fff;

}

.detalle-box a:hover {

	color: #fff;
}
.detalle-box {

	color: #fff;
}