.Tabla-historial-solicitudes{
	width: 100%;
	max-width: 800px;
  	display:block;
 	 margin: auto;
  	border-radius: 10px;
  	background: rgba(0, 0, 0, 0.562);
  	color: #fff;
  	box-sizing: border-box;
  	padding: 70px 30px;
  	border-radius: 20px;
  	margin-top: 20px;
  	margin-bottom: 20px;
}
.Tabla-historial-solicitudes h1{
    margin-left: 30%;
    font-size: 20px;
}

.Tabla-historial-solicitudes table {
    background-color: rgba(0, 0, 0, 0.219);
    margin-top: 20px;
}
#Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}

