
.lista-fuera{

font-size: 20px;


}
#Home{
    background-size: 50px;
    color: white;
    border-radius: 5px;
   
    

}
.pepega{
    margin-left: -200px;
}
#home.active{
    width: 100px;
    height: 100px;
    
    color: white;
    background: rgba(128, 128, 128, 0.514);
    
    

}
#QS{
padding-left: 10px;
color: white;

}