.Tabla-solicitudes{
    width: 100%;
	max-width: 900px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Tabla-solicitudes h1{
    color: white;
    font-size: 20px;
	text-align: center;
}


.checkbtn{
    margin-top: 30px;

}

#verDetalle:hover{
	background-color: rgb(139, 80, 80);
	color: white;
}

#verDetalle{
	
	color: rgb(139, 80, 80);
}

#Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}

tr:hover {background-color: #53555481;}

table{
    table-layout: fixed;
	width: 820px;
    overflow-wrap: break-word;
}

th{
	background-color: rgba(85, 87, 87, 0.527);
}

td {
    padding: 5px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px solid white;
    border-left: 1px;
}




