.Tabla-solicitudes{
    width: 100%;
  	max-width: 800px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Tabla-solicitudes h1{
    color: white;
    font-size: 20px;
}

.Tabla-solicitudes table {
    background-color: rgba(0, 0, 0, 0.219);
	color: white;
}

#verDetalle:hover{
	background-color: rgb(139, 80, 80);
	color: white;
}

#verDetalle{
	
	color: rgb(139, 80, 80);
}
