.Mod-perfil-box{
	width: 100%;
  	max-width: 800px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Mod-perfil-box h1{
	
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	display: block;


}

.Mod-perfil-box label{
	
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}





.Mod-perfil-box input[type="submit"]{

	border: none;
	outline: none;
    width: 150px;
	height: 40px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;


}
.Mod-perfil-box input[type="date"]{
	
	border: none;
	width: 150px;
	border-bottom: 1px solid #fff;
	background: rgb(191, 191, 192);
	outline: none;
	height: 32px;
	
	font-size: 16px;

}

select {
	color: white;
	background: rgb(32, 29, 29);
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	width: 250px;
 }


 
/* vENTANA VERIFICACION*/
.pswd_info {
	position:absolute;
	width: 220px;
	padding:15px;
	background:#fefefe; 
	font-size:20px;
	border-radius:15px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
	display:none;
    z-index: 1000;
    top: 62px;
    right: 0;
    background-color: rgb(238,238,238);
    box-shadow: 5px 5px 5px #888888;
}

.pswd_info:before,
.pswd_info:after {
    position: absolute;
    bottom: 100%;
    content: '';
}

.pswd_info:before {
    right: 52px;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #ddd;
    border-left: 17px solid transparent;
}

.pswd_info:after {
    right: 53px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid rgb(238,238,238);
    border-left: 16px solid transparent;
}

.pswd_info h4 {
	margin:0 0 10px 0; 
	padding:0;
	font-weight:normal;
    font-size: 1em;
    font-size: 0.7em;
	color: rgba(0, 0, 0, 0.61);
}

.pswd_info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pswd_info ul li {
    visibility: visible !important;
    height: 20px !important;
    min-height: 20px !important;
	line-height:24px;
    font-size: 0.7em;
    padding-left: 24px !important;
}

.pswd_info .invalid {
	background:url(images/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	background:url(images/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}

/*TODO LO DEL PASSWORD*/
.strength_wrapper {
    position: relative;
    text-align: left;
    color:black;
}

.strength_input{
    width: 250px;
    font-size: 25px;
    background: transparent;
    
    
}
.strength_input::placeholder{
    font-size: 15px;
}

.strength_meter {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    z-index: -1;
    overflow: hidden;
}

.button_strength {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 13px;
    display: block;
}

.strength_meter div {
    width: 0%;
    height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.strength_meter div p {
    position: absolute;
    right: 10px;
    color: #b1b0b0;
    font-size: 13px;
    padding-right: 30px;
}

.veryweak {
    background-color: #FF7979;
    width: 25% !important;
}
.weak {
    background-color: #FDA068;
    width: 50% !important;
}
.medium {
    background-color: #FFE560;
    width: 75% !important;
}
.strong {
    background-color: #9BF47D;
    width: 100% !important;
}

/* Styles for verification */
.pswd_info {
	position:absolute;
	margin-right: 250px;
	width: 220px;
	padding:15px;
	background:#fefefe; 
	font-size:20px;
	border-radius:15px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
	display:none;
    z-index: 1000;
    top: 62px;
    right: 0;
    background-color: rgb(238,238,238);
    box-shadow: 5px 5px 5px #888888;
}

.pswd_info:before,
.pswd_info:after {
    position: absolute;
    bottom: 100%;
    content: '';
}

.pswd_info:before {
    right: 52px;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #ddd;
    border-left: 17px solid transparent;
}

.pswd_info:after {
   right: 53px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid rgb(238,238,238);
    border-left: 16px solid transparent;
}

.pswd_info h4 {
	margin:0 0 10px 0; 
	padding:0;
	font-weight:normal;
    font-size: 1em;
    font-size: 0.7em;
}

.pswd_info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pswd_info ul li {
    visibility: visible !important;
    height: 20px !important;
    min-height: 20px !important;
	line-height:24px;
    font-size: 0.7em;
    padding-left: 24px !important;
}

.pswd_info .invalid {
	background:url(../img/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	background:url(../img/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}


.Mod-perfil-box input[type="email"],
.Mod-perfil-box input[type="text"],
.Mod-perfil-box input[type="password"]
{

	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 16px;

	
}

#direccionUsuario1{
	width: 320px;
}

#Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}

tr:hover {background-color: #53555481;}
table{
	table-layout: fixed;
	
    
}

td{
	padding: 5px;
    border-top: 1px;
    border-right: 1px solid white;
    
    border-left: 1px;
}

th{
	text-align: left;
    background-color: rgba(85, 87, 87, 0.301);
}