.Procesar-sol-box{
    width: 100%;
  	max-width: 600px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Procesar-sol-box h1{
    margin-left: 30%;
    font-size: 20px;
}

.Procesar-sol-box table {
    background-color: rgba(0, 0, 0, 0.219);
	color: white;
    margin-top: 20px;
}

.Procesar-sol-box input[type="text"]
{

	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 16px;

	
}
#add{
    color:white;
}


 .Procesar-sol-box input[type="submit"]{

	border: none;
	outline: none;
    width: 80px;
	height: 30px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;


}
#textoSolucion1{
    width: 500px;
    background: rgba(241, 239, 239, 0.904);
}

#Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}