
/*------------------------box login----------------------------------*/

.Recuperar-con-box{

	width: 100%;
  	max-width: 300px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;


}



.Recuperar-con-box h1{

	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	display: block;


}


.Recuperar-con-box input{

	width: 100%;
	margin-bottom: 20px;

}

.Recuperar-con-box input[type="email"],
.Recuperar-con-box input[type="password"]{

	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;

	
}

.Recuperar-con-box input[type="submit"]{

	border: none;
	outline: none;
	height: 40px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;


}