.Remuneraciones-activas{
    width: 100%;
  	max-width: 800px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Remuneraciones-activas h1{
    margin-left: 30%;
    font-size: 20px;
    
}

.Remuneraciones-activas table {
    background-color: rgba(0, 0, 0, 0.219);
	color: white;
    margin-top: 20px;
}

#RealizarPago:hover{
	background-color: rgb(139, 80, 80);
	color: white;
}

#RealizarPago{
	
	color: rgb(139, 80, 80);
}