*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	background: url("") no-repeat;
}
nav{
	background: #241508c5;
	height: 80px;
	width: 100%;

	
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 20px 20px 20px 50px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
	z-index: 1000;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #da5b06e7;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}






/*-----SLIDER----------------*/
div ul ol{
	list-style: none;
}

.slideshow{
	width: 30%;
	position: relative;
	margin: auto;
	margin-top: 20px;
}

.slider li ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
	width: 100%;
}


.slider img{
	width: 100%;
	
}


.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
	font-family: monospace;
}

.paginacion{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.paginacion li{
	font-size: 15px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.izq, .der{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 20px;
	cursor: pointer;
	z-index: 2;
}

.izq{
	left: 10px;
}

.der{
	right: 10px;
}




/*estilo tarjetas*/

.target-group{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
	margin: 70px 0;
	padding: 0 70px;
}

.tarjeta{
	background: linear-gradient(45deg,#241508c5,#da5b06e7) ;
	color: rgba(255, 255, 255, 0.753);
	font-size: 30px;
	height: 80px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 10px 20px rgba(0,0,0,0.6);
	align-items: center;
	padding: 15px;
}


#zzz{
	background: linear-gradient(120deg,#241508c5,#da5b06e7) ;
	color: rgba(255, 255, 255, 0.932);
	font-size: 30px;
	height: 100px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 10px 20px rgba(0,0,0,0.8);
	align-items: center;
	padding: 15px;
}

.tarjeta h3{
	margin-left: 10px;
	font-size: 18px;
}



@media (max-width: 1024px){
	.form{
		width: 50%;
	}
}

/*------------------------Responsive----------------------------------*/
@media (max-width: 952px) {
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px) {
	.checkbtn{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 70%;
		height: 100%;
		background: #0c0000e0;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color: #fffefdad;
	}
	#check:checked ~ ul{
		left: 0;
	}
}

@media (max-width: 768px){
	.slideshow{
		width: 100%;
	}
	.slider .caption p{
		font-size: 10px;
	}
	.target-group{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin: 30px 0;
		padding: 0 30px;
		margin-left: -20px;
	}

}

@media (max-width: 425px){
	.slideshow{
		width: 100%;
	}

	.target-group{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin: 30px 0;
		padding: 0 30px;
		margin-left: -20px;
	}
}


@media (max-width: 360px){
	.slideshow{
		width: 100%;
	}

	.target-group{
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin: 30px 0;
		padding: 0 30px;
		margin-left: -25px;
	}

}


@media (min-width: 768px){
	.slideshow{
		width: 50%;
	}
		
}



/*------------------------Footer----------------------------------*/
footer{
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
    
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 40px;
}
.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
}
.row{
   margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}
.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 22px;
    
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    
}
.container-footer{
    width: 100%;
    background: #101010;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.copyright{
    margin: auto;
    color: #C7C7C7;
}
@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
/*------------------------Footer----------------------------------*/

#descripcion1{
	margin: 1px;
	padding: 1px;
	width: 350px;
	height: 150px;
	resize: none;
}

