.Tabla-solicitudes{
    width: 100%;
  	max-width: 800px;
	display:block;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.562);
	color: #fff;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Tabla-solicitudes h1{
    margin-left: 30%;
    font-size: 20px;
}

.Tabla-solicitudes table {
    background-color: rgba(0, 0, 0, 0.219);
	color: white;
    margin-top: 20px;
	
}

#verDetalle:hover{
	background-color: rgb(139, 80, 80);
	color: white;
}

#verDetalle{
	
	color: rgb(139, 80, 80);
}

select {
	color: white;
	background: rgb(32, 29, 29);
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	width: 250px;
 }

 .Tabla-solicitudes input[type="submit"]{

	border: none;
	outline: none;
    
	height: 30px;
	background-color: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;


}
#Volver{
	margin-top: 30px;
	color: white;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
#Volver:hover{
    background-color: rgb(0, 0, 0);
}


tr:hover {background-color: #53555481;}

table{
    table-layout: fixed;
	width: 760px;
    overflow-wrap: break-word;
}

table #desc{
	table-layout: auto;
    overflow-wrap: break-word;
	text-align: left;
   
}
td {
    
    padding: 5px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px solid white;
    border-left: 1px;
}



th{
	
    background-color: rgba(85, 87, 87, 0.527);
}