header{
    background-color: lightcoral;
    padding-bottom: 1px;
    padding-top: 10px;
}
#principalHead{
    text-align: center;
    width: 100%;
    text-align: center;
}

#listaNav{
    list-style: none;
    display: flex;
    padding: 0;
    
}
.pepegaList{
    padding-left: 10px;
}

a:link{
text-decoration: none;
color: black;
}

a:hover{
    color:navy
}